<!DOCTYPE html>

<html>

<head>
  <title>PragProg Books Online Store</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body class='<%= controller.controller_name %>'>

  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Pragmatic Bookshelf" %>
  </div>

  <div id="columns">
    <div id="side">

      <ul>
        <li><a href="http://www...">Home</a></li>
        <li><a href="http://www.../faq">Questions</a></li>
        <li><a href="http://www.../news">News</a></li>
        <li><a href="http://www.../contact">Contact</a></li>
      </ul>

      <p>
        Current Date &amp Time:<br>
        <%= Time.now.strftime("%B %d, %Y") %><br>
        <%= Time.now.strftime("%H:%M:%S") %><br>
      </p>

      <div id="cart">
        <% if @cart %>
          <% hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
            <%= render @cart %>
          <% end %>
        <% end %>
      </div>

    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>

  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js" 
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script
    src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
    integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
    crossorigin="anonymous"></script>

</body>

</html>
